@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: unset;
}

/* All Styles Here */

/* Header */
.header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background: #386641;
    color: #fefefe;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.header .brandLogo {
    flex: 1;
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 700;
    cursor: pointer;
}

.header nav {
    flex: 3;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header nav .item {
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.header nav .item svg {
    font-size: 24px;
}
.header .right {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .right .avatar{
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
}

.header .right .avatar:hover{
  background-color: lightgrey;

}

.header .right .search {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid grey;
    padding: 0 10px;
    border-radius: 40px;
    background-color: white;
}

.header .right .search svg {
    font-size: 24px;
    padding: .4px;
    color: grey;
}

.header .right .search input {
    max-width: 400px;
    width: 100%;
    height: 38px;
    border-radius:0 40px 40px 0;
    border: none;
    outline: none;
    padding-right: 5px;
    font-size: 17px;
    color: grey;
}


/* Sidebar */
.sidebar{
    flex: 1.5;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.sidebarAvatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}


.sidebarCategory{
    display: flex;
    align-items: center;justify-content: flex-start;
    gap: 12px;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    border-radius: 99px;
}
.sidebarCategory:hover{
    background: whitesmoke;
}
.sidebarCategory svg{
    font-size: 34px;
    padding: 6px;
    border-radius: 50%;
}

/* Feed */
.feed{
    flex: 3.8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Create Post */
.createPost{
    width: 100%;
    background-color: #f3f3f3;
    padding: 14px 20px 18px;
    border-radius: 5px;
    margin-bottom: 26px;
}
.createPost .top{
    display: flex;
    gap: 10px;
}
.createPost .top button{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 99px;
    cursor: pointer;
}

.createPost .hr{
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin: 16px 0;
}


.createPost .bottom{
    display: flex;
    justify-content: space-evenly;
}

.createPost .bottom .item{
    display: flex;
    align-items: center;justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.createPost .bottom .item svg{
    font-size: 24px;
}

/* Widgets */
.widgets{
    flex: 2;
    padding: 20px;
}


.avatar img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* Post */
.post{
    margin-bottom: 10px;
    width: 93%;
    border: 2px solid whitesmoke;
    padding: 10px 16px;
    border-radius: 6px;
}
.post .top{
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}
.post .top .postAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.post .top .info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.post p{
    margin-bottom: 10px;
}
.post img{
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
}

.post .bottom{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 16px;
}

.post .bottom .item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.post .bottom .item svg{
    font-size: 18px;
}
.post .bottom .item span{
    font-size: 17px;
}
/* Pages */

/* Home */
.homePage{
    display: flex;
    position: relative;
    top: 75px;
    left: 0;
}


/* Friends */
.friends{
    width: 100%;
    height: 100%;
    position: relative;
    top: 75px;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


/* Friend */
.friend{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 240px;
    cursor: pointer;
    border: 1px solid grey;
    background: whitesmoke;
    border-radius: 5px;
    overflow: hidden;
}
.friend img{
    width: 100%;
}
.friend span{
    position: relative;
    top: -20px;
    font-size: 17px;
}
.friend button{
    position: relative;
    bottom: 10px;
    border: none;
    font-size: .9rem;
    padding: 5px 20px;
    border-radius: 99px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background: #fff;
}

.friend button svg{
    font-size: 1.1rem;
}



/* Profile */
.profile{
    position: relative;
    top: 75px;
    left: 0;
    padding: 20px;
}


/* Messaging */
.messaging{
    position: relative;
    top: 75px;
    left: 0;
}


/* Groups */
.groups{
    position: relative;
    top: 75px;
    left: 0;
}


/* Notifications */
.notifications{
    position: relative;
    top: 75px;
    left: 0;
}